<header id="main-header" class="py-2 bg-info text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    <i class="fas fa-cog"></i> Grupos
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="container" cdkDropListGroup>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-secondary mb-3 mt-5" cdkDropList [cdkDropListData]="groups" (cdkDropListDropped)="onDrop($event)">
                <div class="tabCard text-center">
                    <i class="fas fa-users"></i>&nbsp;&nbsp; Grupos
                </div>
                <div class="input-group md-form form-sm form-2 px-3 pt-3 pb-3">
                    <input
                    class="form-control my-0 py-1 red-border"
                    type="text"
                    placeholder="Buscar"
                    aria-label="Search"
                    name="searchFilter"
                    [(ngModel)]="searchFilter"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                            aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="px-3 mb-3">
                    <hr>                
                    <div class="card mb-3" *ngFor="let grupo of groups | user: searchFilter" cdkDrag>
                        <div class="card-body p-2 styleCard">
                            <h5 class="card-title p-0 m-0"> {{grupo.name}} </h5>
                        </div>
                    </div>                  
                </div>
            </div> 
        </div>
        <div class="col-md-6">
            <div class="card border-secondary mb-3 mt-5" cdkDropList [cdkDropListData]="users" (cdkDropListDropped)="onDrop($event)">
                <div class="tabCard text-center mb-3">
                    <i class="fas fa-address-card"></i>&nbsp;&nbsp; Información
                </div>
                <div class="px-3 mb-3">
                    <div class="card mb-3" *ngFor="let user of users" cdkDrag>
                        <div class="card-body p-2 styleCard">
                            <h5 class="card-title p-0 m-0"> {{user.name}} </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>