<nav class="navbar navbar-expand-sm navbar-dark bg-primary p-0">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Planeación Estratégica</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>    
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a routerLink="/" class="nav-link">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a routerLink="/empleados" class="nav-link">Empleados</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a routerLink="/grupos" class="nav-link">Grupos</a>
                </li>
            </ul>       
            <ul class="navbar-nav">
                <li class="nav-item dropdown ml-3">               
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i> Bienvenido
                    </a>
                    <!-- <div class="dropdown-menu">
                        <a routerLink="/configuracion" class="dropdown-item">
                            <i class="fas fa-cog"></i> Configuracion
                        </a>
                    </div> -->
                </li>
            </ul>
        </div>    
</nav>