/* You can add global styles to this file, and also import other style files */
.box img {
    width: 100%;
    height: 400px;
  }

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.styleCard {
  background-color: #808080;
  color: white;
}

.tabCard {
  height: 30px;
  background-color: #808080;
  color: white;
}