<header id="main-header" class="py-2 bg-info text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    <i class="fas fa-cog"></i> Empleados
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="pt-5 pb-3 d-flex align-content-end justify-content-end align-items-end">
        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal" >
          <i class="fas fa-user-plus"></i> Add Employee
        </a>        
      </div>
    </div>
    <div class="col-md-4 mx-auto">
      <div class="input-group md-form form-sm form-2 pt-5 pb-3">
        <input
        class="form-control my-0 py-1 red-border"
        type="text"
        placeholder="Busqueda por Nombre"
        aria-label="Search"
        name="filterpost"
        [(ngModel)]="filterpost"
        />
        <div class="input-group-append">
          <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
              aria-hidden="true"></i></span>
        </div>
      </div>     
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mt-2">         
      <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Fecha de Nacimiento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 10, currentPage: page } | filter: filterpost ">
              <th scope="row"> {{employee.id}} </th>
              <td> {{employee.name}} </td>
              <td> {{employee.last_name}} </td>
              <td> {{employee.birthday}} </td>
            </tr>
          </tbody>
      </table>
      <pagination-controls 
      (pageChange)="page = $event"
      responsive="true"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</div>
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="name" name="name" placeholder="Nombre" required>
          </div>
          <div
          *ngIf="registerForm.get('name').invalid && (registerForm.get('name').dirty || registerForm.get('name').touched)"
           class="alert alert-danger">
           <div *ngIf="registerForm.get('name').errors.required">
             El Nombre es Requerido
           </div>
          </div>
          <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control" formControlName="last_name" name="apellidos" placeholder="Apellidos" required>
          </div>
          <div
          *ngIf="registerForm.get('last_name').invalid && (registerForm.get('last_name').dirty || registerForm.get('last_name').touched)"
           class="alert alert-danger">
           <div *ngIf="registerForm.get('last_name').errors.required">
             El Apellido es Requerido
           </div>
          </div>          
          <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control" formControlName="birthday" name="birthday" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
          </div>
          <div
          *ngIf="registerForm.get('birthday').invalid && (registerForm.get('birthday').dirty || registerForm.get('birthday').touched)"
           class="alert alert-danger">
           <div *ngIf="registerForm.get('birthday').errors.required">
             La Fecha de Nacimiento es Requerida
           </div>
          </div>          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" (click)="validate()">Agregar</button>
      </div>
    </div>
  </div>
</div>